extends ../common/layout.pug

block content
  .section#startSection
    .columns.is-centered
      .column.is-half
        .content.has-text-centered
          h1 Good luck!
          h4 There are 
            span#triviaRounds.has-text-primary #{trivia.numberOfRounds} 
            | rounds in total!
          button.button.is-large.is-primary.mt-6(onclick='Game.start()') Begin

  .section.is-hidden#triviaSection
    .columns.is-centered
      .column.is-half
        .content#trivia-question-container
          //- each q, index in trivia.questions
          //-   if index === 0
          //-     .trivia-question-container(id=(`trivia-question-${index}`))
          //-       h3= q.question
          //-       .control
          //-         each answer in q.generateAnswerArray()
          //-             label.radio
          //-               input(type="radio", name="test" id="test" value="asdf" )
          //-               span.is-size-4  #{answer}
          //-             br
          //-       .button.mt-2.is-success(disabled) Next
          //-   else
          //-     .trivia-question-container.is-hidden(id=(`trivia-question-${index}`))
          //-       h3= q.question
          //-       .control
          //-         each answer in q.generateAnswerArray()
          //-             label.radio
          //-               input(type="radio", name="test" id="test" value="asdf" )
          //-               span.is-size-4  #{answer}
          //-             br
          //-       .button.mt-2.is-success(disabled) Next

block scripts
  script(type='module' src='/js/trivia.js')